body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../img/mountains.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.home {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5em;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  padding-bottom: 4vh;
}

.home input {
  font-size: 3em;
  color: white;
  background: transparent;
  font-family: 'Montserrat';
  border: none;
  border-bottom: 1px solid white;
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
  text-align: center;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
}

.resultsPage {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: Montserrat;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
}

h1 {
  margin-bottom: 0;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  margin-top: 0.2em;
  margin-bottom: 0;
  font-size: 1em;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  font-size: 0.9em;
}

/* tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.3);
} */

th {
  padding: 0.5em;
  /* border-bottom: solid 1.5px darkgrey; */
}

td {
  padding: 0.5em;
}

.reserveRow td {
  padding-top: 0;
}

.reserveCell {
  font-style: italic;
  text-align: left;
}

button {
  padding: 0.5em;
  font-family: Montserrat;
  font-size: 1.2em;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 0.5em;
}

button:hover {
  color: white;
  border-color: white;
  cursor: pointer;
}